*{
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
  background-image: url(../images/downlform.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.box{
  width: 300px;
  padding: 30px;
  position: absolute;
  top: 26%;
  left: 56%;
  transform: translate(-50,-50);
  background:  rgb(51,51,204);
  text-align: center;
  border-radius: 24px;
}

.box h2{
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 23px;
}


.box input[type="text"],.box input[type="password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid red;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25px;

}

.box input[type="text"]:focus,.box input[type="password"]:focus{
  width: 270px;
  border-color: yellow;
}

.box input[type="submit"]{
  border: 0px;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border:3px solid yellow;
  padding: 14px 35px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 00.25px;
  cursor: pointer;

}

.box input[type="submit"]:hover{
  background: rgb(0,0,0);
}